<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>主面板</title>

    <!-- Bootstrap core CSS -->
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.31/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.31/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.31/examples/dashboard/dashboard.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head><div id="night-mask" style="position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 2147483647;pointer-events: none;mix-blend-mode: multiply;transition: opacity 0.1s ease 0s;opacity:0.3;display:none;background: #000000;"></div>

  <body data-new-gr-c-s-check-loaded="8.896.0" data-gr-ext-installed="" style="background: #2B2D3E">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="color: #50B57F">&nbsp;&nbsp;&nbsp;眼底图血管分割软件</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="background: #2B2D3D">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" style="color:#50B57F">{{id}}</a></li>
            <li><a class="glyphicon glyphicon-info-sign" aria-hidden="true" style="color:#50B57F" href="">帮助文档</a></li>
            <li><a href="/" style="color:#50B57F" >退出</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid" style="color: #21212E">
      <div class="row" style="background:#21212E">
        <div class="col-sm-3 col-md-2 sidebar" style="background:#21212E">
			<ul class="nav nav-sidebar">
				<li><a style="color: #50B57F" href="/index/index">系统简介</a></li>
				<li><a style="color:#50B57F" href="/upload/upload">上传CT图进行分割</a></li>
				<li><a style="color:#50B57F" href="/CT_view/ct_view">查看3D结果</a></li>
				<li class="active"><a  class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:#50B57F" href="/form">填写病历</a></li>
				<li><a style="color:#50B57F" href="/form_download">下载病历</a></li>
          	</ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<tr>
                <input type="button" id="btn" style="color: #50B57F;font-size: large;background-color: #21212E" value="若需要查询病人ID请点此按钮">
                <div id="ajaxtest" style="color: aquamarine;font-size: large;color: #50B57F;background-color: #21212E"></div>
				<p>&nbsp</p>
            </tr>
          <div class="panel panel-default" style="background-color: #21212E">
            <!-- Default panel contents -->
            <div class="panel-heading" style="color:#50B57F;background-color:#21212E;font-size: large">诊断单</div>
<style>
	textarea{
		width: 100%;
		resize: none;
		color: #50B57F;
		background:#21212E;
	}
</style>
            <!-- Table -->
		<form action="/form" method="post" style="background-color: #21212E">
            <table class="table" style="color:#50B57F;background:#21212E">
				<tr>
				  <th>#</th>
				  <th>腹部内脏</th>
				  <th>医生诊断</th>
				  <th>医嘱&备注</th>
				</tr>
				<tr>
				  <th scope="row">0</th>
				  <td>姓名</td>
				  <td>
					  <textarea rows="3" placeholder="患者姓名" name="XM"></textarea>
				  </td>
				  <td>
					  <textarea rows="3" placeholder="患者ID" name="ID"></textarea>
				  </td>
				</tr>
				<tr>
				  <th scope="row">1</th>
				  <td>左肾</td>
				  <td>
					  <textarea rows="3" placeholder="左肾诊断" name="ZSZD"></textarea>
				  </td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="左肾医嘱" name="ZSYZ"></textarea>
				  </td>
				</tr>
				<tr>
				  <th scope="row">2</th>
				  <td>脾</td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="脾诊断" name="PZD"></textarea>
				  </td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="脾医嘱" name="PYZ"></textarea>
				  </td>
				</tr>
				<tr>
				  <th scope="row">3</th>
				  <td>肝</td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="肝诊断" name="GZD"></textarea>
				  </td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="肝医嘱" name="GYZ"></textarea>
				  </td>
				</tr>
				<tr>
				  <th scope="row">4</th>
				  <td>胰腺</td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="胰腺诊断" name="YXZD"></textarea>
				  </td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="胰腺医嘱" name="YXYZ"></textarea>
				  </td>
				</tr>
				<tr>
				  <th scope="row">5</th>
				  <td>主动脉</td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="主动脉诊断" name="ZDMZD"></textarea>
				  </td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="主动脉医嘱" name="ZDMYZ"></textarea>
				  </td>
				</tr>
				<tr>
				  <th scope="row">6</th>
				  <td>膀胱</td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="膀胱诊断" name="PGZD"></textarea>
				  </td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="膀胱医嘱" name="PGYZ"></textarea>
				  </td>
				</tr>
				<tr>
				  <th scope="row">7</th>
				  <td>胃</td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="胃诊断" name="WZD"></textarea>
				  </td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="胃医嘱" name="WYZ"></textarea>
				  </td>
				</tr>
				<tr>
				  <th scope="row">8</th>
				  <td>胆囊</td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="胆囊诊断" name="DNZD"></textarea>
				  </td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="胆囊医嘱" name="DNYZ"></textarea>
				  </td>
				</tr>
				<tr>
				  <th scope="row">9</th>
				  <td>下腔静脉</td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="下腔静脉诊断" name="XQJMZD"></textarea>
				  </td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="下腔静脉医嘱" name="XQJMYZ"></textarea>
				  </td>
				</tr>
				<tr>
				  <th scope="row">10</th>
				  <td>食管</td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="食管诊断" name="SGZD"></textarea>
				  </td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="食管医嘱" name="SGYZ"></textarea>
				  </td>
				</tr>
				<tr>
				  <th scope="row">12</th>
				  <td>右肾</td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="右肾诊断" name="YSZD"></textarea>
				  </td>
				  <td>
					  <textarea rows="3" style="width: 100%;resize: none" placeholder="右肾医嘱" name="YSYZ"></textarea>
				  </td>
				</tr>
				<tr>
					<td>
						&nbsp;
					</td>
					<td>
						&nbsp;
					</td>
					<td>
						<input type="submit" class="btn btn-lg btn-primary btn-block" style="color:#2B2D3E ;background:#50B57F" value="生 成 报 告">
					</td>
				</tr>
            </table>
			</form>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://fastly.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.31/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.31/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://fastly.jsdelivr.net/npm/@bootcss/v3.bootcss.com@1.0.31/assets/js/ie10-viewport-bug-workaround.js"></script>


</body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration><div id="saladict-saladbowl-root" class="saladict-div saladict-external"><div class="saladict-external"></div></div></html>
<script>
  $('#btn').click(function () {
		     $.ajax({
                url:"/search",
                type:"POST",
                data:null,
                processData:false,
                contentType:false,
                success: function (data) {
                    $("#ajaxtest").html(data);
                }
             })
        })
</script>